<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
                      http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	version="3.0" metadata-complete="true">
	<display-name>COP</display-name>
	<listener>
		<listener-class>APP.Comm.UserLoginListener</listener-class>
	</listener>
	<session-config>
		<!-- 2分钟  -->
		<session-timeout>120</session-timeout>
	</session-config>
	<context-param>
		<param-name>reportFilePath</param-name>
		<param-value>reportlets</param-value>
	</context-param>
	<context-param>
		<param-name>maxUploadSize</param-name>
		<param-value>104857600</param-value>
	</context-param>
	<servlet>
		<servlet-name>ReportServer</servlet-name>
		<servlet-class>com.fr.web.ReportServlet</servlet-class>
		<load-on-startup>0</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>ReportServer</servlet-name>
		<url-pattern>/ReportServer</url-pattern>
	</servlet-mapping>
	<servlet>
		<display-name>AppSystemInit</display-name>
		<servlet-name>AppSystemInit</servlet-name>
		<servlet-class>APP.Comm.AppSystemInit</servlet-class>
		<init-param>
			<description>配置路径</description>
			<param-name>APP_HOME</param-name>
			<param-value>e:\web-config\cop</param-value>
		</init-param>
		<init-param>
			<description>定时器开关</description>
			<param-name>QUARTZ_OPEN_MODE</param-name>
			<param-value>N</param-value>
		</init-param>
		<load-on-startup>3</load-on-startup>
	</servlet>
	<filter>
		<filter-name>BusinessFilter</filter-name>
		<filter-class>APP.Comm.Handler.BusinessFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>BusinessFilter</filter-name>
		<url-pattern>*.jspx</url-pattern>
	</filter-mapping>
	<servlet>
		<display-name>ComboBoxHandler</display-name>
		<servlet-name>ComboBoxHandler</servlet-name>
		<servlet-class>APP.Comm.Handler.ComboBoxHandler</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ComboBoxHandler</servlet-name>
		<url-pattern>/Comm/ComboBoxHandler.jspx</url-pattern>
	</servlet-mapping>
	<servlet>
		<display-name>ComboGridHandler</display-name>
		<servlet-name>ComboGridHandler</servlet-name>
		<servlet-class>APP.Comm.Handler.ComboGridHandler</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ComboGridHandler</servlet-name>
		<url-pattern>/Comm/ComboGridHandler.jspx</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>CommUtilHandler</servlet-name>
		<servlet-class>APP.Comm.Handler.CommUtilHandler</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CommUtilHandler</servlet-name>
		<url-pattern>/Comm/CommUtilHandler.jspx</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<!-- <welcome-file>index.htm</welcome-file> -->
		<welcome-file>login.jsp</welcome-file>
<!-- 		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file> -->
	</welcome-file-list>
</web-app>
